<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ticket Guru</h1>
<h5>Basic Analytics</h5>
<table>
    <div>
        <a th:href="@{/ticketsperconcert}">Tickets per concert</a>
        <a th:href="@{/shoprevenue}">Physical Shop revenue</a>
        <a th:href="@{/onlinerevenue}">Online revenue</a>
        <a th:href="@{/historicresells}">Historic resells</a>

    </div>
    <div>
        <form th:action="@{/activity}" method="get">
            <label for="from">From:</label>
            <input type="date" id="from" name="from" required>

            <label for="to">To:</label>
            <input type="date" id="to" name="to" required>

            <button type="submit">Get activity</button>
        </form>
    </div>

    <div>
        <form th:action="@{/paymentanalytics}" method="get">
            <label for="from">From:</label>
            <input type="date"  name="from" required>

            <label for="to">To:</label>
            <input type="date"  name="to" required>

            <button type="submit">Get paymentDetails</button>
        </form>
    </div>
    <h5>Adding </h5>
    <a th:href="@{/addconcert}">Add concert</a>

    <a th:href="@{/addtickets}">Add online tickets</a>

    <a th:href="@{/physicaltickets}">Add physical shop tickets</a>

    <a th:href="@{/addmusicgroup}">Add new music group</a>
    <br><br>
    <a th:href="@{/calendar}">Check calendar</a>


</table>
<form action="/calendar" method="GET">
    <label for="concert_location_id">Concert Location ID:</label>
    <input type="number" id="concert_location_id" name="concert_location_id">

    <label for="calendar_date">Calendar Date:</label>
    <input type="date" id="calendar_date" name="calendar_date">

    <input type="submit" value="Submit">
</form>


<div th:if="${not #lists.isEmpty(locationInfo)}" >
    <table>
        <thead>
        <tr>
            <th>VenueName</th>
            <th>Address</th>
            <th>city</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="locinfo : ${locationInfo}">
            <td th:text="${locinfo.venuename}"></td>
            <td th:text="${locinfo.address}"></td>
            <td th:text="${locinfo.state}"></td>
            <td th:text="${locinfo.city}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${not #lists.isEmpty(calendarInfo)}">
    <table>
        <thead>
        <tr>
            <th>LocationID</th>
            <th>calendardate</th>
            <th>timeslot</th>
            <th>concertid</th>
            <th>concertname</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="calinfo : ${calendarInfo}">
            <td th:text="${calinfo.concertlocationid}"></td>
            <td th:text="${calinfo.calendardate}"></td>
            <td th:text="${calinfo.timeslot}"></td>
            <td th:text="${calinfo.concertid}"></td>
            <td th:text="${calinfo.concertname}"></td>

        </tr>
        </tbody>
    </table>
</div>



</body>
</html>