<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyTicket</title>
</head>
<body>
<h1>Ticket Guru</h1>
<table>
    <div>
        <a th:href="@{/tickets}">My tickets</a>
        <a th:href="@{/resales}">Resell Listings</a>
        <a th:href="@{/availableTickets}">Available tickets</a>
        <a th:href="@{/physicalShop}">Physical Shops</a>
        <a th:href="@{/payments}">My payments</a>
    </div>
</table>

<h2>Concert  Details</h2>
<table>
    <thead>
    <tr>
        <th>VenueName</th>
        <th>state</th>
        <th>city</th>
        <th>address</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="venue : ${venueDetails}">
        <td colspan="2" th:text="${venue.venuename}"></td>
        <td colspan="2" th:text="${venue.state}"></td>
        <td colspan="2" th:text="${venue.city}"></td>
        <td colspan="2" th:text="${venue.address}"></td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th>MusicGroups</th>
        <th>SoloArtist</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="performer : ${performers}">
        <td colspan="2" th:text="${performer.groupname}"></td>
        <td colspan="2" th:text="${performer.stagename}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>