<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyTicket</title>
</head>
<body>

<h1>Ticket Guru</h1>
<h5>Basic Analytics</h5>
<table>
    <div>
        <a th:href="@{/ticketsperconcert}">Tickets per concert</a>
        <a th:href="@{/shoprevenue}">Physical Shop revenue</a>
        <a th:href="@{/onlinerevenue}">Online revenue</a>
        <a th:href="@{/historicresells}">Historic resells</a>

    </div>
    <div>
        <form th:action="@{/activity}" method="get">
            <label for="from">From:</label>
            <input type="date" id="from" name="from" required>

            <label for="to">To:</label>
            <input type="date" id="to" name="to" required>

            <button type="submit">Get activity</button>
        </form>
    </div>

    <div>
        <form th:action="@{/paymentanalytics}" method="get">
            <label for="from">From:</label>
            <input type="date"  name="from" required>

            <label for="to">To:</label>
            <input type="date"  name="to" required>

            <button type="submit">Get paymentDetails</button>
        </form>
    </div>
    <h5>Adding </h5>
    <a th:href="@{/addconcert}">Add concert</a>

    <a th:href="@{/addtickets}">Add online tickets</a>

    <a th:href="@{/physicaltickets}">Add physical shop tickets</a>

    <a th:href="@{/addmusicgroup}">Add new music group</a>
    <br><br>
    <a th:href="@{/calendar}">Check calendar</a>


</table>


<h5>Online revenue</h5>
<table>
    <thead>
    <tr>
        <th>year</th>
        <th>month</th>
        <th>concertid</th>
        <th>concertname</th>
        <th>revenue</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="online : ${onlineRevenue}">
        <td colspan="2" th:text="${online.year}"></td>
        <td colspan="2" th:text="${online.month}"></td>
        <td colspan="2" th:text="${online.concertid}"></td>
        <td colspan="2" th:text="${online.concertname}"></td>
        <td colspan="2" th:text="${online.revenue}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>